@page "/LihatJadwal"
@using SP2CJ.Services


<div class="container block">
    <div class="block columns">
        <div class="column control">
            <label class=" is-justify-content-space-between">
                Tanggal awal:
            </label>
            <DatePicker TValue="DateTime" DateChanged="@Datechangedevent" Date="@Range1">
            </DatePicker>
        </div>
        <div class="column control">
            <label class=" is-justify-content-space-between">
                Tanggal akhir:
            </label>
            <DatePicker TValue="DateTime" DateChanged="@Datechangedevent" Date="@Range2">
            </DatePicker>
        </div>
    </div>
    <div class="tile block is-ancestor">
        <div class="tile is-primary">
            @foreach (var jadwal in lihaJadwals)
            {
                <div class="tile is-child has-text-centered">
                    <h4 class="has-text-weight-semibold block"> @jadwal.tanggal.ToString("dddd, dd MMMM yyyy"): @jadwal.JenisJadwal</h4>
                    <h5 class="has-text-weight-medium block">Tema: @jadwal.Tema</h5>
                    
                    @foreach (var playans in jadwal.PelayansJadwal)
                    {
                        <h5 class="has-text-weight-medium is-underlined">@playans.Key</h5>
                        @foreach (var playan in @playans.Value)
                        {
                            <p>@playan.Jemaat.FullName, @playan.Role.RoleName</p>
                        }
                    }
                    </div>
            }
        </div>
    </div>
</div>


@code {
    List<Jadwal> lihaJadwals = new List<Jadwal>();
    DateTime Range1 = DateTime.Now;
    DateTime Range2 = DateTime.Now.AddDays(14);
    CrudMongo cm = new CrudMongo();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        lihaJadwals = cm.GetJadwals(Range1, Range2).OrderBy(a => a.tanggal).ToList();

    }

    void Datechangedevent()
    {
        lihaJadwals = cm.GetJadwals(Range1, Range2).OrderBy(a => a.tanggal).ToList();
    }
}
